{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/cluster/cluster.css' %}" />
{% endblock stylesheets %}

<section class="cluster-section">
        <div class="row mb-5 mt-5">
            <div class="container">
                <h4 class="mb-3">Create Shop Owner Account</h4>
                <div>
                    <div class="row g-3 align-items-center customer-form">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                          <label for="owner_name" class="col-form-label">Owner First Name</label>
                          <input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="please enter owner name">
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <label for="owner_name" class="col-form-label">Owner Last Name</label>
                            <input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="please enter owner name">
                          </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <label for="owner_name" class="col-form-label">Phone Number</label>
                            <input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="please enter owner name">
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label for="owner_name" class="col-form-label">Email</label>
                            <input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="please enter owner name">
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label for="owner_name" class="col-form-label">Shop Name</label>
                            <input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="please enter owner name">
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label for="owner_name" class="col-form-label">Shop Type</label>
                            <input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="please enter owner name">
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label for="owner_name" class="col-form-label">Aera</label>
                            <input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="please enter owner name">
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label for="owner_name" class="col-form-label">City</label>
                            <input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="please enter owner name">
                          </div>
                          <div class="col-sm-12 col-md-4 col-lg-4">
                            <label for="owner_name" class="col-form-label">Zip Code</label>
                            <input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="please enter owner name">
                          </div>
                        
                      </div>
                </div>
             </div>
        </div>
    </div>
</section>


{% endblock %}

{% block javascripts %}
<script src="{% static 'assets/js/cluster/cluster.js' %}"></script>
{% endblock javascripts %}