{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/cluster/cluster.css' %}" />
{% endblock stylesheets %}
{% include 'cluster/new-purchage_model.html' %}
<section class="cluster-section">
   
    <div class="container mb-5 mt-5">
        <div class="mb-5 custome-btn d-flex">
            <a href="/new_shop_owner/" class="thm-btn we-provide__btn">Creat New Customer</a>&nbsp;&nbsp;
            <a href="" class="thm-btn we-provide__btn" data-bs-toggle="modal" data-bs-target="#exampleModal">New Purchage</a>
        </div>
       
        <div class="row">
            <div class="container">
                <div class="row cluster_customers_list">
                        <table id="customers_id" class="display">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>RCB Ageed</th>
                                    <th>Shop Name</th>
                                    <th>Type Of Shop</th>
                                    <th>Aera</th>
                                    <th>City</th>
                                    <th>Given Bags</th>
                                    <th>Lifted Status</th>
                                    <th>Prvious Points</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in  staff_customer%}
                                <tr>
                                    <td>{{ item.first_name}}{{ item.last_name}}</td>
                                    <td>{{ item.email}}</td>
                                    <td>{{ item.phone}}</td>
                                    <td>{{ item.date_of_birth}}</td>
                                    <td>{{ item.address}}</td>
                                    <td> <i class="fas fa fa-trash"></i>
                                         </td>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                </div>
             </div>
          
        </div>
    </div>
</section>


{% endblock %}

{% block javascripts %}
<script src="{% static 'assets/js/cluster/cluster.js' %}"></script>
{% endblock javascripts %}