<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Purchage</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <label for="owner_name" class="col-form-label">RCB Agree</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select rcb type </option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>
            </div>
            <div>
                <label for="owner_name" class="col-form-label">Owner</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select Shop Owner</option>
                  <option value="1">DINESH</option>
                  <option value="2">SITHARAM</option>
                </select>
            </div>
            <div>
                <label for="owner_name" class="col-form-label">Given Bags</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select c-bags</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
            </div>
            <div>
                <label for="owner_name" class="col-form-label">Lifted Status</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select status</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
            </div>

            <div class="d-flex mt-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select wast types</option>
                    <option value="1">mixed wast</option>
                    <option value="2">carton box</option>
                    <option value="2">Plastic</option>
                    <option value="2">milk packets(avg)</option>
                  </select>&nbsp;&nbsp;
                <input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="please enter owner name">&nbsp;
            <button class="btn btn-sm btn-info">+add</button>  
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>