{% extends 'base.html' %}
{% load static %}
{% block title %} about content {% endblock title %}
{% block content %}
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>

    <div class="container">
        <div class="page-header__inner">
            <h2>About us</h2>
            <div class="thm-breadcrumb__box">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>/</span></li>
                    <li>About us</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="about-seven">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-seven__left">
                    <div class="about-seven__img-box">
                        <div class="about-seven__img">
                            <img src="{% static 'assets/images/resources/about-seven-img-1.jpg' %}" alt="">
                        </div>
                        <div class="about-seven__img-2">
                            <img src="{% static 'assets/images/resources/about-seven-img-2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-seven__right">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Get to Know Austry</span>
                        <h2 class="section-title__title">The best industry &amp;
                            factory business</h2>
                    </div>
                    <p class="about-seven__text-1">committed to providing our customers with exceptional
                        service.</p>
                    <p class="about-seven__text-2">Lorem Ipsum is simply dummy text of free available in market
                        the printing and typesetting industry has been the industry's standard dummy text ever.
                    </p>
                    <div class="about-seven__points-box">
                        <ul class="list-unstyled about-seven__points">
                            <li>
                                <div class="icon"><span class="fa fa-check"></span></div>
                                <div class="text">
                                    <p>Suspe ndisse leo</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><span class="fa fa-check"></span></div>
                                <div class="text">
                                    <p>Nescterur cing elit</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><span class="fa fa-check"></span></div>
                                <div class="text">
                                    <p>Entum posuere sit not</p>
                                </div>
                            </li>
                        </ul>
                        <div class="about-seven__progress">
                            <div class="about-seven__progress-wrap">
                                <div class="about-seven__progress-single">
                                    <div class="about-seven__progress-box">
                                        <div class="circle-progress" data-options="{ &quot;value&quot;: 0.9,&quot;thickness&quot;: 3,&quot;emptyFill&quot;: &quot;#eff1f5&quot;,&quot;lineCap&quot;: &quot;square&quot;, &quot;size&quot;: 118, &quot;fill&quot;: { &quot;color&quot;: &quot;#fc811b&quot; } }"><canvas width="177" height="177" style="height: 118px; width: 118px;"></canvas>
                                        </div><!-- /.circle-progress -->
                                        <span>90%</span>
                                    </div>
                                    <div class="about-seven__progress-content">
                                        <h3>Building <br> Construction</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-seven__btn-box">
                        <a href="about.html" class="thm-btn about-seven__btn">discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="brand-six">
    <div class="container">
        <div class="thm-swiper__slider swiper-container swiper-container-initialized swiper-container-horizontal" data-swiper-options="{&quot;spaceBetween&quot;: 100,
        &quot;slidesPerView&quot;: 5,
        &quot;loop&quot;: true,
        &quot;navigation&quot;: {
            &quot;nextEl&quot;: &quot;#brand-one__swiper-button-next&quot;,
            &quot;prevEl&quot;: &quot;#brand-one__swiper-button-prev&quot;
        },
        &quot;autoplay&quot;: { &quot;delay&quot;: 5000 },
        &quot;breakpoints&quot;: {
            &quot;0&quot;: {
                &quot;spaceBetween&quot;: 30,
                &quot;slidesPerView&quot;: 2
            },
            &quot;375&quot;: {
                &quot;spaceBetween&quot;: 30,
                &quot;slidesPerView&quot;: 2
            },
            &quot;575&quot;: {
                &quot;spaceBetween&quot;: 30,
                &quot;slidesPerView&quot;: 3
            },
            &quot;767&quot;: {
                &quot;spaceBetween&quot;: 50,
                &quot;slidesPerView&quot;: 4
            },
            &quot;991&quot;: {
                &quot;spaceBetween&quot;: 50,
                &quot;slidesPerView&quot;: 5
            },
            &quot;1199&quot;: {
                &quot;spaceBetween&quot;: 100,
                &quot;slidesPerView&quot;: 5
            }
        }}">
            <div class="swiper-wrapper" style="transform: translate3d(-1524px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="5" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-1.png" alt="">
                </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="6" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-2.png" alt="">
                </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="7" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-3.png" alt="">
                </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="8" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-4.png" alt="">
                </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="9" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-5.png" alt="">
                </div>
                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-1.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-2.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-3.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide" data-swiper-slide-index="3" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-4.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide" data-swiper-slide-index="4" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-5.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide" data-swiper-slide-index="5" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-1.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide" data-swiper-slide-index="6" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-2.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide" data-swiper-slide-index="7" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-3.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide" data-swiper-slide-index="8" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-4.png" alt="">
                </div><!-- /.swiper-slide -->
                <div class="swiper-slide" data-swiper-slide-index="9" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-5.png" alt="">
                </div><!-- /.swiper-slide -->
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-1.png" alt="">
                </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-2.png" alt="">
                </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-3.png" alt="">
                </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-4.png" alt="">
                </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" style="width: 154px; margin-right: 100px;">
                    <img src="{% static 'assets/images/brand/brand-1-5.png" alt="">
                </div></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </div>
</section>
<section class="testimonial-one">
    <div class="testimonial-one__bg"></div>
    <div class="testimonial-one__shape-1" style="background-image: url('assets/images/shapes/testimonial-shape-1.png');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="testimonial-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Read Their Feedbacks</span>
                        <h2 class="section-title__title">See what customers are talking about recycle bandi</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="testimonial-one__right">
                    <div class="testimonial-one__carousel thm-owl__carousel owl-theme owl-carousel owl-loaded owl-drag" data-owl-options="{
                        &quot;items&quot;: 1,
                        &quot;margin&quot;: 30,
                        &quot;smartSpeed&quot;: 700,
                        &quot;loop&quot;:true,
                        &quot;autoplay&quot;: 6000,
                        &quot;nav&quot;:true,
                        &quot;dots&quot;:false,
                        &quot;navText&quot;: [&quot;<span class=\&quot;icon-left-arrow\&quot;></span>&quot;,&quot;<span class=\&quot;icon-right-arrow\&quot;></span>&quot;],
                        &quot;responsive&quot;:{
                            &quot;0&quot;:{
                                &quot;items&quot;:1
                            },
                            &quot;768&quot;:{
                                &quot;items&quot;:1
                            },
                            &quot;992&quot;:{
                                &quot;items&quot;: 1
                            },
                            &quot;1200&quot;:{
                                &quot;items&quot;: 1.185555
                            }
                        }

                    }">
                        <!--Testimonial One Single Start-->
                        
                        <!--Testimonial One Single End-->
                        <!--Testimonial One Single Start-->
                        
                        <!--Testimonial One Single End-->
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1771px, 0px, 0px); transition: all 0.7s ease 0s; width: 3543px;"><div class="owl-item cloned" style="width: 560.441px; margin-right: 30px;"><div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__single-inner">
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-img">
                                            <img src="/static/assets/images/testimonial/testimonial-1-1.jpg" alt="">
                                            <div class="testimonial-one__quote">
                                                <i class="fas fa-quote-left"></i>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__content">
                                            <div class="testimonial-one__rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h3 class="testimonial-one__client-name">Donald Hardson</h3>
                                            <p class="testimonial-one__client-sub-title">CEO - CO Founder</p>
                                        </div>
                                    </div>
                                    <p class="testimonial-one__text">Leverage agile frameworks to provide a
                                        robust
                                        synopsis for high level overviews. Iterative approaches to corporate
                                        strategy data foster to collaborative thinking.</p>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 560.441px; margin-right: 30px;"><div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__single-inner">
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-img">
                                            <img src="/static/assets/images/testimonial/testimonial-1-2.jpg" alt="">
                                            <div class="testimonial-one__quote">
                                                <i class="fas fa-quote-left"></i>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__content">
                                            <div class="testimonial-one__rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h3 class="testimonial-one__client-name">Christine Eve</h3>
                                            <p class="testimonial-one__client-sub-title">CEO - CO Founder</p>
                                        </div>
                                    </div>
                                    <p class="testimonial-one__text">Leverage agile frameworks to provide a
                                        robust
                                        synopsis for high level overviews. Iterative approaches to corporate
                                        strategy data foster to collaborative thinking.</p>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 560.441px; margin-right: 30px;"><div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__single-inner">
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-img">
                                            <img src="/static/assets/images/testimonial/testimonial-1-1.jpg" alt="">
                                            <div class="testimonial-one__quote">
                                                <i class="fas fa-quote-left"></i>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__content">
                                            <div class="testimonial-one__rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h3 class="testimonial-one__client-name">Donald Hardson</h3>
                                            <p class="testimonial-one__client-sub-title">CEO - CO Founder</p>
                                        </div>
                                    </div>
                                    <p class="testimonial-one__text">Leverage agile frameworks to provide a
                                        robust
                                        synopsis for high level overviews. Iterative approaches to corporate
                                        strategy data foster to collaborative thinking.</p>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 560.441px; margin-right: 30px;"><div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__single-inner">
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-img">
                                            <img src="/static/assets/images/testimonial/testimonial-1-2.jpg" alt="">
                                            <div class="testimonial-one__quote">
                                                <i class="fas fa-quote-left"></i>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__content">
                                            <div class="testimonial-one__rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h3 class="testimonial-one__client-name">Christine Eve</h3>
                                            <p class="testimonial-one__client-sub-title">CEO - CO Founder</p>
                                        </div>
                                    </div>
                                    <p class="testimonial-one__text">Leverage agile frameworks to provide a
                                        robust
                                        synopsis for high level overviews. Iterative approaches to corporate
                                        strategy data foster to collaborative thinking.</p>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned active" style="width: 560.441px; margin-right: 30px;"><div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__single-inner">
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-img">
                                            <img src="/static/assets/images/testimonial/testimonial-1-1.jpg" alt="">
                                            <div class="testimonial-one__quote">
                                                <i class="fas fa-quote-left"></i>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__content">
                                            <div class="testimonial-one__rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h3 class="testimonial-one__client-name">Donald Hardson</h3>
                                            <p class="testimonial-one__client-sub-title">CEO - CO Founder</p>
                                        </div>
                                    </div>
                                    <p class="testimonial-one__text">Leverage agile frameworks to provide a
                                        robust
                                        synopsis for high level overviews. Iterative approaches to corporate
                                        strategy data foster to collaborative thinking.</p>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 560.441px; margin-right: 30px;"><div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__single-inner">
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-img">
                                            <img src="/static/assets/images/testimonial/testimonial-1-2.jpg" alt="">
                                            <div class="testimonial-one__quote">
                                                <i class="fas fa-quote-left"></i>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__content">
                                            <div class="testimonial-one__rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h3 class="testimonial-one__client-name">Christine Eve</h3>
                                            <p class="testimonial-one__client-sub-title">CEO - CO Founder</p>
                                        </div>
                                    </div>
                                    <p class="testimonial-one__text">Leverage agile frameworks to provide a
                                        robust
                                        synopsis for high level overviews. Iterative approaches to corporate
                                        strategy data foster to collaborative thinking.</p>
                                </div>
                            </div>
                        </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span class="icon-left-arrow"></span></button><button type="button" role="presentation" class="owl-next"><span class="icon-right-arrow"></span></button></div><div class="owl-dots disabled"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-one about-page-team">
    <div class="about-page-team__bg-box">
        <div class="about-page-team__bg jarallax" data-jarallax="" data-speed="0.2" data-imgposition="50% 0%" style="background-image: none;" data-jarallax-original-styles="background-image: url({% static 'assets/images/backgrounds/about-page-team-bg.jpg' %});"><div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;file:///D:/TEMPLATES/austry-html-packages/austry-html-files/{% static 'assets/images/backgrounds/about-page-team-bg.jpg' %}&quot;); position: fixed; top: 0px; left: 0px; width: 1500px; height: 581.6px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 12.7px; transform: translate3d(0px, -100.233px, 0px);"></div></div></div>
    </div>
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Our Experts Contractors</span>
            <h2 class="section-title__title">Working with excellent
                <br> our great team</h2>
        </div>
        <div class="row">
            <!--Team One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="{% static 'assets/images/team/team-1-1.jpg' %}" alt="">
                        </div>
                        <div class="team-one__content">
                            <div class="team-one__info">
                                <p class="team-one__sub-title">Co Founder</p>
                                <h3 class="team-one__name"><a href="team.html">Kevin Martin</a></h3>
                            </div>
                        </div>
                        <div class="team-one__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Team One Single Start-->
            <!--Team One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="{% static 'assets/images/team/team-1-2.jpg' %}" alt="">
                        </div>
                        <div class="team-one__content">
                            <div class="team-one__info">
                                <p class="team-one__sub-title">Manager</p>
                                <h3 class="team-one__name"><a href="team.html">Sarah Albert</a></h3>
                            </div>
                        </div>
                        <div class="team-one__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Team One Single Start-->
            <!--Team One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="{% static 'assets/images/team/team-1-3.jpg' %}" alt="">
                        </div>
                        <div class="team-one__content">
                            <div class="team-one__info">
                                <p class="team-one__sub-title">Contractor</p>
                                <h3 class="team-one__name"><a href="team.html">Mike Hardson</a></h3>
                            </div>
                        </div>
                        <div class="team-one__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Team One Single Start-->
        </div>
    </div>
</section>
<section class="cta-one">
    <div class="cta-one__shape-1 float-bob-y">
        <img src="{% static 'assets/images/shapes/cta-one-shape-1.png" alt="">
    </div>
    <div class="cta-one__shape-2 float-bob-x">
        <img src="{% static 'assets/images/shapes/cta-one-shape-2.png" alt="">
    </div>
    <div class="container">
        <div class="cta-one__inner">
            <h3 class="cta-one__title">Quality, affordable, manufacturing <br> and industrial services</h3>
            <a href="about.html" class="thm-btn cta-one__btn">Discover more</a>
        </div>
    </div>
</section>
{% endblock %}