{% extends 'base.html' %}
{% load static %}
{% block title %}  Collecting Various Types of Waste for Recycling{% endblock title %}

{% block content %}
<!--Main Slider Start-->
        <section class="main-slider">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
        "effect": "fade",
        "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
        },
        "navigation": {
        "nextEl": "#main-slider__swiper-button-next",
        "prevEl": "#main-slider__swiper-button-prev"
        },
        "autoplay": {
        "delay": 5000
        }}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image-layer slider-1"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">We Deal All <br>  Kind of Recycle Scrap Materials </h2>
                                        <p class="main-slider__text">There are many of passages of lorem Ipsum, but the
                                            majori have suffered <br> alteration in some form.</p>
                                        <div class="main-slider__btn-box">
                                            <a href="about.html" class="thm-btn trusted-one__btn">Discover more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="image-layer slider-2"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">First Time in Guntur <br> Scrap Collection <br>Service</h2>
                                        <p class="main-slider__text">There are many of passages of lorem Ipsum, but the
                                            majori have suffered <br> alteration in some form.</p>
                                        <div class="main-slider__btn-box">
                                            <a href="about.html" class="thm-btn trusted-one__btn">Discover more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-layer slider-3"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">Turn your scrap<br> into cash </h2>
                                        <p class="main-slider__text">There are many of passages of lorem Ipsum, but the
                                            majori have suffered <br> alteration in some form.</p>
                                        <div class="main-slider__btn-box">
                                            <a href="about.html" class="thm-btn trusted-one__btn">Discover more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="swiper-pagination" id="main-slider-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <i class="icon-left-arrow"></i>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <i class="icon-right-arrow"></i>
                    </div>
                </div>

            </div>
        </section>
        <!--Main Slider End-->

        <!--About One Start-->
        <section class="about-one">
            <div class="about-one__shape-1 float-bob-y">
                <img src="{% static 'assets/images/shapes/about-one-shape-1.png' %}" alt="">
            </div>
            <div class="container mb-5">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-one__left">
                            <div class="about-one__img-box wow slideInLeft" data-wow-delay="100ms"
                                data-wow-duration="2500ms">
                                <div class="about-one__img">
                                    <img src="{% static 'assets/images/about/recycle-bandi-2.png' %}" alt="">
                                </div>
                                <!-- <div class="about-one__img-2">
                                    <img src="{% static 'assets/images/resources/about-one-img-2.jpg' %}" alt="">
                                </div> -->
                                <!-- <div class="about-one__experience">
                                    <div class="about-one__experience-count-box">
                                        <h3 class="odometer" data-count="35">00</h3>
                                    </div>
                                    <p class="about-one__experience-text">Years
                                        <br> Experience</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-one__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">About Company</span>
                                <h2 class="section-title__title">Recycle Bandi</h2>
                            </div>
                            <p class="about-one__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                                tellus, aute irure ullamcorper mattis, pulvinar dapibus leo. Duis dolor in voluptate
                                dolore reprehenderit in velit esse nulla pariatur.</p>
                            <!-- <ul class="about-one__points-box list-unstyled">
                                <li>
                                    <div class="about-one__points-content pb-2">
                                        <div class="about-one__points-icon">
                                            <span class="icon-planet-earth"></span>
                                        </div>
                                        <div class="about-one__points-text">
                                            <p>Accurate Weight.</p>
                                        </div>
                                    </div>
                                    <div class="about-one__points-content pb-2">
                                        <div class="about-one__points-icon">
                                            <span class="icon-planet-earth"></span>
                                        </div>
                                        <div class="about-one__points-text">
                                            <p>Daily Updated Rate Card.</p>
                                        </div>
                                    </div>
                                    <div class="about-one__points-content">
                                        <div class="about-one__points-icon">
                                            <span class="icon-planet-earth"></span>
                                        </div>
                                        <div class="about-one__points-text">
                                            <p>Transparent and safe Service with Professional scrap collector.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul> -->
                            <div class="about-one__btn-box mt-3">
                                <a href="about.html" class="about-one__btn thm-btn">Discover more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About One End-->

        <!--Counter One Start-->
        <section class="feature-three">
            <div class="feature-three__bg" style="background-image: url(assets/images/backgrounds/feature-three-bg.jpg);"></div>
            <div class="section-title text-center" style="margin-top: -80px;">
                <h2 class="section-title__title text-light">SELL YOUR SCRAP</h2>
                <span class="section-title__tagline text-light">Sell your scrap in 4 easy steps</span>
            </div>
            <div class="container">
                <div class="row sel-steps">
                    <!--Feature Three Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                        <div class="feature-three__single">
                            <div class="feature-three__count-and-icon">
                                <div class="feature-three__count"></div>
                                <div class="feature-three__icon">
                                    <img src="{% static 'assets/images/shapes/four-steps/01.png' %}" alt="" height="120px">
                                </div>
                            </div>
                            <h3 class="feature-three__title">Raise A request</h3>
                            <p class="feature-three__text">Lorem ipsum is free text</p>
                        </div>
                    </div>
                    <!--Feature Three Single End-->
                    <!--Feature Three Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                        <div class="feature-three__single">
                            <div class="feature-three__count-and-icon">
                                <div class="feature-three__count"></div>
                                <div class="feature-three__icon">
                                    <img src="{% static 'assets/images/shapes/four-steps/2.png' %}" alt="" height="120px">
                                </div>
                            </div>
                            <h3 class="feature-three__title">Pickup Schedule</h3>
                            <p class="feature-three__text">Lorem ipsum is free text</p>
                        </div>
                    </div>
                    <!--Feature Three Single End-->
                    <!--Feature Three Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <div class="feature-three__single">
                            <div class="feature-three__count-and-icon">
                                <div class="feature-three__count"></div>
                                <div class="feature-three__icon">
                                    <img src="{% static 'assets/images/shapes/four-steps/02.png' %}" alt="" height="120px">
                                </div>
                            </div>
                            <h3 class="feature-three__title">waightage</h3>
                            <p class="feature-three__text">Lorem ipsum is free text</p>
                        </div>
                    </div>
                    <!--Feature Three Single End-->
                    <!--Feature Three Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                        <div class="feature-three__single">
                            <div class="feature-three__count-and-icon">
                                <div class="feature-three__count"></div>
                                <div class="feature-three__icon">
                                    <img src="{% static 'assets/images/shapes/four-steps/4.png' %}" alt="" height="120px">
                                </div>
                            </div>
                            <h3 class="feature-three__title">Get Paid</h3>
                            <p class="feature-three__text">Lorem ipsum is free text</p>
                        </div>
                    </div>
                    <!--Feature Three Single End-->
                </div>
            </div>
        </section>
        <!--Counter One End-->

        <!--Services One Start-->
        <section class="services-page-five">
            <div class="container-fluid px-5">
                <div class="row"> <div class="about-one__shape-1 float-bob-y">
                    <img src="{% static 'assets/images/shapes/about-one-shape-1.png' %}" alt="">
                </div>
                    <!--Services Five Single Start-->
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-five__single">
                            <div class="services-five__img">
                                <img src="{% static 'assets/images/shapes/services-shapes/2.png' %}" alt="">
                            </div>
                            <div class="services-five__content-box">
                                <!-- <div class="services-five__icon">
                                    <span class="icon-gas"></span>
                                </div> -->
                                <div class="services-five__content">
                                    <h3 class="services-five__title"><a href="services-5.html">
                                        Door to Door <br/> Pickup</a></h3>
                                    <p class="services-five__text">Aliq is notm hendr erit a augue insu image pellen
                                        simply
                                        free text.</p>
                                    <a href="services-5.html" class="services-five__btn">read more <span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services Five Single End-->
                    <!--Services Five Single Start-->
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-five__single">
                            <div class="services-five__img">
                                <img src="{% static 'assets/images/shapes/services-shapes/1.png' %}" alt="">
                            </div>
                            <div class="services-five__content-box">
                                <!-- <div class="services-five__icon">
                                    <span class="icon-gas"></span>
                                </div> -->
                                <div class="services-five__content">
                                    <h3 class="services-five__title"><a href="services-5.html">College Institution <br/>Scrap</a></h3>
                                    <p class="services-five__text">Aliq is notm hendr erit a augue insu image pellen
                                        simply
                                        free text.</p>
                                    <a href="services-5.html" class="services-five__btn">read more <span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services Five Single End-->
                    <!--Services Five Single Start-->
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-five__single">
                            <div class="services-five__img">
                                <img src="{% static 'assets/images/shapes/services-shapes/3.png' %}" alt="">
                            </div>
                            <div class="services-five__content-box">
                                <!-- <div class="services-five__icon">
                                    <span class="icon-gas"></span>
                                </div> -->
                                <div class="services-five__content">
                                    <h3 class="services-five__title"><a href="services-5.html">Construction Site <br/>Scrap</a></h3>
                                    <p class="services-five__text">Aliq is notm hendr erit a augue insu image pellen
                                        simply
                                        free text.</p>
                                    <a href="services-5.html" class="services-five__btn">read more <span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services Five Single End-->
                    <!--Services Five Single Start-->
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-five__single">
                            <div class="services-five__img">
                                <img src="{% static 'assets/images/shapes/services-shapes/4.png' %}" alt="">
                            </div>
                            <div class="services-five__content-box">
                                <!-- <div class="services-five__icon">
                                    <span class="icon-biotechnology"></span>
                                </div> -->
                                <div class="services-five__content">
                                    <h3 class="services-five__title"><a href="services-5.html">IT Companies <br/>Scrap</a></h3>
                                    <p class="services-five__text">Aliq is notm hendr erit a augue insu image pellen
                                        simply
                                        free text.</p>
                                    <a href="services-5.html" class="services-five__btn">read more <span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services Five Single End-->
                    <!--Services Five Single Start-->
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-five__single">
                            <div class="services-five__img">
                                <img src="{% static 'assets/images/shapes/services-shapes/5.png' %}" alt="">
                            </div>
                            <div class="services-five__content-box">
                                <!-- <div class="services-five__icon">
                                    <span class="icon-production"></span>
                                </div> -->
                                <div class="services-five__content">
                                    <h3 class="services-five__title"><a href="services-5.html">Bank/Office <br/>Scrap</a></h3>
                                    <p class="services-five__text">Aliq is notm hendr erit a augue insu image pellen
                                        simply
                                        free text.</p>
                                    <a href="services-5.html" class="services-five__btn">read more <span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services Five Single End-->
                    <!--Services Five Single Start-->
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-five__single">
                            <div class="services-five__img">
                                <img src="{% static 'assets/images//shapes/services-shapes/6.png' %}" alt="">
                            </div>
                            <div class="services-five__content-box">
                                <!-- <div class="services-five__icon">
                                    <span class="icon-respiratory"></span>
                                </div> -->
                                <div class="services-five__content">
                                    <h3 class="services-five__title"><a href="services-5.html">Society Redevelopment <br/>Scrap</a></h3>
                                    <p class="services-five__text">Aliq is notm hendr erit a augue insu image pellen
                                        simply
                                        free text.</p>
                                    <a href="services-5.html" class="services-five__btn">read more <span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services Five Single End-->
                     <!--Services Five Single Start-->
                     <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-five__single">
                            <div class="services-five__img">
                                <img src="{% static 'assets/images/shapes/services-shapes/8.png' %}" alt="">
                            </div>
                            <div class="services-five__content-box">
                                <!-- <div class="services-five__icon">
                                    <span class="icon-respiratory"></span>
                                </div> -->
                                <div class="services-five__content">
                                    <h3 class="services-five__title"><a href="services-5.html">Printing Press <br/>Scrap</a></h3>
                                    <p class="services-five__text">Aliq is notm hendr erit a augue insu image pellen
                                        simply
                                        free text.</p>
                                    <a href="services-5.html" class="services-five__btn">read more <span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services Five Single End-->
                     <!--Services Five Single Start-->
                     <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-five__single">
                            <div class="services-five__img">
                                <img src="{% static 'assets/images/shapes/services-shapes/7.png' %}" alt="">
                            </div>
                            <div class="services-five__content-box">
                                <!-- <div class="services-five__icon">
                                    <span class="icon-respiratory"></span>
                                </div> -->
                                <div class="services-five__content">
                                    <h3 class="services-five__title"><a href="services-5.html">Packaging Industry <br/>Scrap</a></h3>
                                    <p class="services-five__text">Aliq is notm hendr erit a augue insu image pellen
                                        simply
                                        free text.</p>
                                    <a href="services-5.html" class="services-five__btn">read more <span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services Five Single End-->
                </div>
            </div>
        </section>
        <!--Services One End-->

        <!--Trusted One Start-->
        <section class="trusted-one">
            <div class="trusted-one__bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%">
            </div>
            <div class="container">
                <div class="trusted-one__inner">
                    <div class="trusted-one__video-link">
                        <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                            <div class="trusted-one__video-icon">
                                <span class="fa fa-play"></span>
                                <i class="ripple"></i>
                            </div>
                        </a>
                    </div>
                    <h3 class="trusted-one__title count-box">Trusted By Additional Than <span class="count-text"
                            data-stop="450000" data-speed="1500">00</span> <br>Upbeat Individuals</h3>
                    <div class="trusted-one__btn-box">
                        <a href="about.html" class="trusted-one__btn thm-btn">Discover more</a>
                    </div>
                </div>
            </div>
        </section>
        <!--Trusted One End-->

        <!--Best Construction Start-->
        <section class="counter-two">
            <div class="counter-two__bg" style="background-image: url(assets/images/backgrounds/counter-two-bg.jpg);">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="counter-two__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Renewable Energy</span>
                                <h2 class="section-title__title">Commercial, industrial
                                    residential and solar
                                    systems!</h2>
                            </div>
                            <p class="counter-two__text-1">Austry will help you get things complete reality.</p>
                            <div class="counter-two__btn-box">
                                <a href="contact.html" class="counter-two__btn thm-btn">contact us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="counter-two__right">
                            <ul class="list-unstyled counter-two__counter">
                                <li>
                                    <div class="counter-two__single">
                                        <div class="counter-two__count-box count-box counted">
                                            <h3 class="count-text" data-stop="801" data-speed="1500">801</h3>
                                            <span class="counter-two__plus">+</span>
                                        </div>
                                        <p class="counter-two__text-2">Happy Clients</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="counter-two__single">
                                        <div class="counter-two__count-box count-box counted">
                                            <h3 class="count-text" data-stop="341" data-speed="1500">341</h3>
                                            <span class="counter-two__plus">+</span>
                                        </div>
                                        <p class="counter-two__text-2">Completed Projects</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="counter-two__single">
                                        <div class="counter-two__count-box count-box counted">
                                            <h3 class="count-text" data-stop="28" data-speed="1500">28</h3>
                                            <span class="counter-two__plus">+</span>
                                        </div>
                                        <p class="counter-two__text-2">Years Experiance</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="counter-two__single">
                                        <div class="counter-two__count-box count-box counted">
                                            <h3 class="count-text" data-stop="160" data-speed="1500">160</h3>
                                            <span class="counter-two__plus">+</span>
                                        </div>
                                        <p class="counter-two__text-2">Qualified Engineers</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Best Construction End-->
        <section class="why-choose-one">
            <div class="why-choose-one__shape-1 img-bounce">
                <img src="{% static 'assets/images/shapes/why-choose-one-shape-1.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="why-choose-one__left">
                            <div class="why-choose-one__img1">
                                <img src="{% static 'assets/images/resources/why-choose-one-img-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="why-choose-one__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Why Choose</span>
                                <h2 class="section-title__title"> Recycle Bandi</h2>
                            </div>
                            <p class="why-choose-one__text">Lorem ipsum production of solar electricity, you are less
                                dependent on the power grid and its pricing policy. There are no moving mechanisms and
                                components in the solar power plant.</p>
                            <div class="why-choose-one__points-box">
                                <ul class="list-unstyled why-choose-one__points">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-renewable-energy"></span>
                                        </div>
                                        <div class="text">
                                            <p>Save  <br> Environment</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-renewable-energy"></span>
                                        </div>
                                        <div class="text">
                                            <p>Accurate  <br> Weight</p>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="list-unstyled why-choose-one__points why-choose-one__points-two">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-renewable-energy-1"></span>
                                        </div>
                                        <div class="text">
                                            <p>Competitive  <br> Price</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-atomic-energy"></span>
                                        </div>
                                        <div class="text">
                                            <p>For Many <br> Purposes</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="why-choose-one__btn-box">
                                <a href="contact.html" class="why-choose-one__btn thm-btn">Discover more</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Team One Start-->
        <section class="project-six mt-3">
            <div class="container">
                <!-- <div class="section-title text-center">
                    <h2 class="section-title__title">Scrap Price List</h2>
                </div> -->
                <div class="project-six__carousel thm-owl__carousel owl-theme owl-carousel owl-loaded owl-drag"
                    data-owl-options="{
                            &quot;items&quot;: 1,
                            &quot;margin&quot;: 15,
                            &quot;smartSpeed&quot;: 700,
                            &quot;loop&quot;:true,
                            &quot;autoplay&quot;: false,
                            &quot;nav&quot;:false,
                            &quot;dots&quot;:false,
                            &quot;navText&quot;: [&quot;<span class=\&quot;icon-left-arrow\&quot;></span>&quot;,&quot;<span class=\&quot;icon-right-arrow\&quot;></span>&quot;],
                            &quot;responsive&quot;:{
                                &quot;0&quot;:{
                                    &quot;items&quot;:1
                                },
                                &quot;768&quot;:{
                                    &quot;items&quot;:2
                                },
                                &quot;992&quot;:{
                                    &quot;items&quot;: 3
                                },
                                &quot;1200&quot;:{
                                    &quot;items&quot;: 3
                                }
                            }
        
                        }">
        
        
                    <!--Project Six Single End-->
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(-2322px, 0px, 0px); transition: all 0.7s ease 0s; width: 4257px;">
                            <div class="owl-item cloned" style="width: 372px; margin-right: 15px;">
                                <div class="item">
                                    <div class="project-six__single">
                                        <div class="project-six__img">
                                            <img src="{% static 'assets/images/products/1.png' %}" alt="">
                                        </div>
                                        <div class="project-six__content">
                                            <h3 class="project-six__title"><a href="project-details.html">Notebooks / Books</a></h3>
                                            <p class="project-six__sub-title">10 ₹ / kg</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 372px; margin-right: 15px;">
                                <div class="item">
                                    <div class="project-six__single">
                                        <div class="project-six__img">
                                            <img src="{% static 'assets/images/products/2.png' %}" alt="">
                                        </div>
                                        <div class="project-six__content">
                                            <p class="">Construction</p>
                                            <h3 class="project-six__title"><a href="project-details.html">Building
                                                    Structure2</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 372px; margin-right: 15px;">
                                <div class="item">
                                    <div class="project-six__single">
                                        <div class="project-six__img">
                                            <img src="{% static 'assets/images/products/3.png' %}" alt="">
                                        </div>
                                        <div class="project-six__content">
                                            <p class="project-six__sub-title">Construction</p>
                                            <h3 class="project-six__title"><a href="project-details.html">Building Structure</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 372px; margin-right: 15px;">
                                <div class="item">
                                    <div class="project-six__single">
                                        <div class="project-six__img">
                                            <img src="{% static 'assets/images/products/4.png' %}" alt="">
                                        </div>
                                        <div class="project-six__content">
                                            <p class="project-six__sub-title">Construction</p>
                                            <h3 class="project-six__title"><a href="project-details.html">Building Structure</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 372px; margin-right: 15px;">
                                <div class="item">
                                    <div class="project-six__single">
                                        <div class="project-six__img">
                                            <img src="{% static 'assets/images/products/5.png' %}" alt="">
                                        </div>
                                        <div class="project-six__content">
                                            <p class="project-six__sub-title">Construction</p>
                                            <h3 class="{% static 'project-six__title"><a href="project-details.html">Building
                                                    Structure</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 372px; margin-right: 15px;">
                                <div class="item">
                                    <div class="project-six__single">
                                        <div class="project-six__img">
                                            <img src="{% static 'assets/images/products/6.png' %}" alt="">
                                        </div>
                                        <div class="project-six__content">
                                            <p class="project-six__sub-title">Construction</p>
                                            <h3 class="project-six__title"><a href="project-details.html">Building Structure</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 372px; margin-right: 15px;">
                                <div class="item">
                                    <div class="project-six__single">
                                        <div class="project-six__img">
                                            <img src="{% static 'assets/images/products/1.png' %}" alt="">
                                        </div>
                                        <div class="project-six__content">
                                            <p class="project-six__sub-title">Construction</p>
                                            <h3 class="project-six__title"><a href="project-details.html">Building Structure</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 372px; margin-right: 15px;">
                                <div class="item">
                                    <div class="project-six__single">
                                        <div class="project-six__img">
                                            <img src="{% static 'assets/images/products/2.png' %}" alt="">
                                        </div>
                                        <div class="project-six__content">
                                            <p class="project-six__sub-title">Construction</p>
                                            <h3 class="project-six__title"><a href="project-details.html">Building Structure
                                                    30</a>
                                            </h3>
                                        </div>
                                    </div>
        
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                class="icon-left-arrow"></span></button><button type="button" role="presentation"
                            class="owl-next"><span class="icon-right-arrow"></span></button></div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </section>
        <!--Team One End-->

        <!--Testimonial One Start-->
        <section class="testimonial-one">
            <div class="testimonial-one__bg"></div>
            <div class="testimonial-one__shape-1"
                style="background-image: url('assets/images/shapes/testimonial-shape-1.png');"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5">
                        <div class="testimonial-one__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Read Their Feedbacks</span>
                                <h2 class="section-title__title">See what customers are talking about recycle bandi</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="testimonial-one__right">
                            <div class="testimonial-one__carousel thm-owl__carousel owl-theme owl-carousel"
                                data-owl-options='{
                                "items": 1,
                                "margin": 30,
                                "smartSpeed": 700,
                                "loop":true,
                                "autoplay": 6000,
                                "nav":true,
                                "dots":false,
                                "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
                                "responsive":{
                                    "0":{
                                        "items":1
                                    },
                                    "768":{
                                        "items":1
                                    },
                                    "992":{
                                        "items": 1
                                    },
                                    "1200":{
                                        "items": 1.185555
                                    }
                                }

                            }'>
                                <!--Testimonial One Single Start-->
                                <div class="item">
                                    <div class="testimonial-one__single">
                                        <div class="testimonial-one__single-inner">
                                            <div class="testimonial-one__client-info">
                                                <div class="testimonial-one__client-img">
                                                    <img src="{% static 'assets/images/testimonial/testimonial-1-1.jpg' %}" alt="">
                                                    <div class="testimonial-one__quote">
                                                        <i class="fas fa-quote-left"></i>
                                                    </div>
                                                </div>
                                                <div class="testimonial-one__content">
                                                    <div class="testimonial-one__rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <h3 class="testimonial-one__client-name">Donald Hardson</h3>
                                                    <p class="testimonial-one__client-sub-title">CEO - CO Founder</p>
                                                </div>
                                            </div>
                                            <p class="testimonial-one__text">Leverage agile frameworks to provide a
                                                robust
                                                synopsis for high level overviews. Iterative approaches to corporate
                                                strategy data foster to collaborative thinking.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Testimonial One Single End-->
                                <!--Testimonial One Single Start-->
                                <div class="item">
                                    <div class="testimonial-one__single">
                                        <div class="testimonial-one__single-inner">
                                            <div class="testimonial-one__client-info">
                                                <div class="testimonial-one__client-img">
                                                    <img src="{% static 'assets/images/testimonial/testimonial-1-2.jpg' %}" alt="">
                                                    <div class="testimonial-one__quote">
                                                        <i class="fas fa-quote-left"></i>
                                                    </div>
                                                </div>
                                                <div class="testimonial-one__content">
                                                    <div class="testimonial-one__rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <h3 class="testimonial-one__client-name">Christine Eve</h3>
                                                    <p class="testimonial-one__client-sub-title">CEO - CO Founder</p>
                                                </div>
                                            </div>
                                            <p class="testimonial-one__text">Leverage agile frameworks to provide a
                                                robust
                                                synopsis for high level overviews. Iterative approaches to corporate
                                                strategy data foster to collaborative thinking.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Testimonial One Single End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonial One End-->

        <!--News One Start-->
        <section class="news-two">
            <div class="news-two__shape-1" style="background-image: url(assets/images/shapes/news-two-shape-1.png);">
            </div>
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Directly Blog Posts</span>
                    <h2 class="section-title__title">Latest news &amp; articles</h2>
                </div>
                <div class="row">
                    <div class="col-xl-6 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                        <div class="news-two__left">
                            <div class="news-two__left-img">
                                <img src="{% static 'assets/images/blog/news-2-1.jpg' %}" alt="">
                                <div class="news-two__left-img-content">
                                    <ul class="news-two__left-meta list-unstyled">
                                        <li>
                                            <a href="news-details.html"><i class="fas fa-user-circle"></i>by
                                                Christine</a>
                                        </li>
                                        <li>
                                            <a href="news-details.html"><i class="fas fa-comments"></i>2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-two__left-title"><a href="news-details.html">We Believe in Building
                                            Long Lasting <br> our Business Relationships</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInUp animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                        <div class="news-two__right">
                            <ul class="list-unstyled news-two__list">
                                <li>
                                    <div class="news-two__single">
                                        <div class="news-two__img">
                                            <img src="{% static 'assets/images/blog/news-2-2.jpg' %}" alt="">
                                        </div>
                                        <div class="news-two__content">
                                            <ul class="news-two__meta list-unstyled">
                                                <li>
                                                    <a href="news-details.html"><i class="fas fa-user-circle"></i>by
                                                        Christine</a>
                                                </li>
                                                <li>
                                                    <a href="news-details.html"><i class="fas fa-comments"></i>2
                                                        Comments</a>
                                                </li>
                                            </ul>
                                            <h3 class="news-two__title"><a href="news-details.html">We Believe in
                                                    Building Long Lasting our Business Relationships</a></h3>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-two__single">
                                        <div class="news-two__img">
                                            <img src="{% static 'assets/images/blog/news-2-3.jpg' %}" alt="">
                                        </div>
                                        <div class="news-two__content">
                                            <ul class="news-two__meta list-unstyled">
                                                <li>
                                                    <a href="news-details.html"><i class="fas fa-user-circle"></i>by
                                                        Christine</a>
                                                </li>
                                                <li>
                                                    <a href="news-details.html"><i class="fas fa-comments"></i>2
                                                        Comments</a>
                                                </li>
                                            </ul>
                                            <h3 class="news-two__title"><a href="news-details.html">We Believe in
                                                    Building Long Lasting our Business Relationships</a></h3>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--News One End-->

{% endblock %}
