{% extends 'base.html' %}
{% load static %}
{% block title %} price list content {% endblock title %}
{% block content %}
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>

    <div class="container">
        <div class="page-header__inner">
            <h2>Price List</h2>
            <div class="thm-breadcrumb__box">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>/</span></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="services-page-two">
    <div class="container1 mx-5">
        <div class="row mx-5">
            <!--Services Two Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="services-two__single">
                    <div class="services-two__img-box">
                        <div class="services-two__img">
                            <img src="{% static 'assets/images/services/services-2-1.jpg' %}" alt="">
                        </div>
                        <div class="services-two__icon">
                            <span class="icon-power-plant"></span>
                        </div>
                    </div>
                    <div class="services-two__content">
                        <p class="services-two__sub-title">Austry</p>
                        <h3 class="services-two__title"><a href="services-2.html">For Agri Land</a></h3>
                        <p class="services-two__text">Lorem ipsum dolor sit amet
                            cons ectetur elit sed.</p>
                        <div class="services-two__learn-more">
                            <a href="services-2.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Two Single Start-->
            <!--Services Two Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="services-two__single">
                    <div class="services-two__img-box">
                        <div class="services-two__img">
                            <img src="{% static 'assets/images/services/services-2-2.jpg' %}" alt="">
                        </div>
                        <div class="services-two__icon">
                            <span class="icon-factory-1"></span>
                        </div>
                    </div>
                    <div class="services-two__content">
                        <p class="services-two__sub-title">Austry</p>
                        <h3 class="services-two__title"><a href="services-2.html">For Industries</a></h3>
                        <p class="services-two__text">Lorem ipsum dolor sit amet
                            cons ectetur elit sed.</p>
                        <div class="services-two__learn-more">
                            <a href="services-2.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Two Single Start-->
            <!--Services Two Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="services-two__single">
                    <div class="services-two__img-box">
                        <div class="services-two__img">
                            <img src="{% static 'assets/images/services/services-2-3.jpg' %}" alt="">
                        </div>
                        <div class="services-two__icon">
                            <span class="icon-solar-energy"></span>
                        </div>
                    </div>
                    <div class="services-two__content">
                        <p class="services-two__sub-title">Austry</p>
                        <h3 class="services-two__title"><a href="services-2.html">For Residence</a></h3>
                        <p class="services-two__text">Lorem ipsum dolor sit amet
                            cons ectetur elit sed.</p>
                        <div class="services-two__learn-more">
                            <a href="services-2.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Two Single Start-->
            <!--Services Two Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="services-two__single">
                    <div class="services-two__img-box">
                        <div class="services-two__img">
                            <img src="{% static 'assets/images/services/services-2-4.jpg' %}" alt="">
                        </div>
                        <div class="services-two__icon">
                            <span class="icon-solar-energy-1"></span>
                        </div>
                    </div>
                    <div class="services-two__content">
                        <p class="services-two__sub-title">Austry</p>
                        <h3 class="services-two__title"><a href="services-2.html">For Large Areas</a></h3>
                        <p class="services-two__text">Lorem ipsum dolor sit amet
                            cons ectetur elit sed.</p>
                        <div class="services-two__learn-more">
                            <a href="services-2.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Two Single Start-->
            <!--Services Two Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="services-two__single">
                    <div class="services-two__img-box">
                        <div class="services-two__img">
                            <img src="{% static 'assets/images/services/services-2-5.jpg' %}" alt="">
                        </div>
                        <div class="services-two__icon">
                            <span class="icon-ecosystem"></span>
                        </div>
                    </div>
                    <div class="services-two__content">
                        <p class="services-two__sub-title">Austry</p>
                        <h3 class="services-two__title"><a href="services-2.html">Eco Systems</a></h3>
                        <p class="services-two__text">Lorem ipsum dolor sit amet
                            cons ectetur elit sed.</p>
                        <div class="services-two__learn-more">
                            <a href="services-2.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Two Single Start-->
            <!--Services Two Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="services-two__single">
                    <div class="services-two__img-box">
                        <div class="services-two__img">
                            <img src="{% static 'assets/images/services/services-2-6.jpg' %}" alt="">
                        </div>
                        <div class="services-two__icon">
                            <span class="icon-solar-energy-3"></span>
                        </div>
                    </div>
                    <div class="services-two__content">
                        <p class="services-two__sub-title">Austry</p>
                        <h3 class="services-two__title"><a href="services-2.html">Panel Service</a></h3>
                        <p class="services-two__text">Lorem ipsum dolor sit amet
                            cons ectetur elit sed.</p>
                        <div class="services-two__learn-more">
                            <a href="services-2.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Two Single Start-->
            <!--Services Two Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="services-two__single">
                    <div class="services-two__img-box">
                        <div class="services-two__img">
                            <img src="{% static 'assets/images/services/services-2-7.jpg' %}" alt="">
                        </div>
                        <div class="services-two__icon">
                            <span class="icon-sun"></span>
                        </div>
                    </div>
                    <div class="services-two__content">
                        <p class="services-two__sub-title">Austry</p>
                        <h3 class="services-two__title"><a href="services-2.html">Maintenance</a></h3>
                        <p class="services-two__text">Lorem ipsum dolor sit amet
                            cons ectetur elit sed.</p>
                        <div class="services-two__learn-more">
                            <a href="services-2.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Two Single Start-->
            <!--Services Two Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="services-two__single">
                    <div class="services-two__img-box">
                        <div class="services-two__img">
                            <img src="{% static 'assets/images/services/services-2-8.jpg' %}" alt="">
                        </div>
                        <div class="services-two__icon">
                            <span class="icon-renewable-energy-2"></span>
                        </div>
                    </div>
                    <div class="services-two__content">
                        <p class="services-two__sub-title">Austry</p>
                        <h3 class="services-two__title"><a href="services-2.html">Monitoring</a></h3>
                        <p class="services-two__text">Lorem ipsum dolor sit amet
                            cons ectetur elit sed.</p>
                        <div class="services-two__learn-more">
                            <a href="services-2.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Two Single Start-->
        </div>
    </div>
</section>
{% endblock %}