{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section class="process-one">
    <div class="process-one__bg" style="background-image: url(assets/images/backgrounds/process-one-bg.jpg);">
    </div>
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Our Working Process</span>
            <h2 class="section-title__title">4 easy steps  <br> </h2>
        </div>
        <div class="row d-flex justify-content-center" style="margin-left: 100px;">
            <!--Process One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                <div class="process-one__single">
                    <div class="process-one__icon">
                        <span class="icon-chat"></span>
                        <div class="process-one__count"></div>
                    </div>
                    <h4 class="process-one__title">Raise A request</h4>
                </div>
            </div>
            <!--Process One Single End-->
            <!--Process One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                <div class="process-one__single">
                    <div class="process-one__icon">
                        <span class="icon-solar-energy-2"></span>
                        <div class="process-one__count"></div>
                    </div>
                    <h4 class="process-one__title">Pickup Schedule</h4>
                    
                </div>
            </div>
            <!--Process One Single End-->
            <!--Process One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                <div class="process-one__single">
                    <div class="process-one__icon">
                        <span class="icon-electric-generator"></span>
                        <div class="process-one__count"></div>
                    </div>
                    <h4 class="process-one__title">waightage</h4>
                </div>
            </div>
            <!--Process One Single End-->
            <!--Process One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="process-one__single">
                    <div class="process-one__icon">
                        <span class="icon-plug"></span>
                        <div class="process-one__count"></div>
                    </div>
                    <h4 class="process-one__title">Get Paid</h4>
                </div>
            </div>
            <!--Process One Single End-->
        </div>
    </div>
</section>
<section class="counter-four mt-5">
    <div class="container">
        <div class="row wast-types">
            <!--Counter Four Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated column-card" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                <div class="card">
                    <input type="radio" class="card-input-element" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="card card-body btn btn-outline-primary card-card" for="btnradio1">
                        <i class="fab fa-twitter text-light"></i>
                        <div class="process-one__count"></div>
                        <h4 class="process-one__title">E-Waste</h4>
                    </label>
                </div>
            </div>
            <!--Counter Four Single End-->
            <!--Counter Four Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                <div class="card">
                    <input type="radio" class="card-input-element" name="btnradio" id="btnradio2" autocomplete="off" checked>
                    <label class="card card-body btn btn-outline-primary" for="btnradio2">
                        <span class="icon-chat"></span> 
                        <div class="process-one__count"></div>
                        <h4 class="process-one__title">Paper</h4>
                    </label>
                </div>
            </div>
            <!--Counter Four Single End-->
            <!--Counter Four Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                <div class="card">
                    <input type="radio" class="card-input-element" name="btnradio" id="btnradio3" autocomplete="off" checked>
                    <label class="card card-body btn btn-outline-primary" for="btnradio3">
                        <span class="icon-chat"></span> 
                        <div class="process-one__count"></div>
                        <h4 class="process-one__title">Old Clothes</h4>
                    </label>
                </div>
            </div>
            <!--Counter Four Single End-->
             <!--Counter Four Single Start-->
             <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated mt-3" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                <div class="card">
                    <input type="radio" class="card-input-element" name="btnradio" id="btnradio3" autocomplete="off" checked>
                    <label class="card card-body btn btn-outline-primary" for="btnradio3">
                        <span class="icon-chat"></span> 
                        <div class="process-one__count"></div>
                        <h4 class="process-one__title">Metals</h4>
                    </label>
                </div>
            </div>
            <!--Counter Four Single End-->
             <!--Counter Four Single Start-->
             <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated mt-3" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                <div class="card">
                    <input type="radio" class="card-input-element" name="btnradio" id="btnradio2" autocomplete="off" checked>
                    <label class="card card-body btn btn-outline-primary" for="btnradio2">
                        <span class="icon-chat"></span> 
                        <div class="process-one__count"></div>
                        <h4 class="process-one__title">Plastic</h4>
                    </label>
                </div>
            </div>
            <!--Counter Four Single End-->
            <!--Counter Four Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated mt-3" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                <div class="card">
                    <input type="radio" class="card-input-element" name="btnradio" id="btnradio3" autocomplete="off" checked>
                    <label class="card card-body btn btn-outline-primary" for="btnradio3">
                        <span class="icon-chat"></span> 
                        <div class="process-one__count"></div>
                        <h4 class="process-one__title">Mixed-Waste</h4>
                    </label>
                </div>
            </div>
            <!--Counter Four Single End-->

        </div>
        <div class="mt-5 mb-5">
            <h3>Choose Product To Sell From - <span>E-Waste</span></h3>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card-body">
                    <div id="raw_material_row">
                        <div class="card-body login-form">
                            <form>
                                <div class="row form-group select-wast-type">
                                    <div class="col-sm-12  col-lg-3 card">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Default checkbox
                                            </label>
                                          </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 card">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Default checkbox
                                            </label>
                                          </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3 card">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Default checkbox
                                            </label>
                                          </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3 card">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Default checkbox
                                            </label>
                                          </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3 card">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Default checkbox
                                            </label>
                                          </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3 card">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Default checkbox
                                            </label>
                                          </div>
                                    </div>
                               
                    
                                </div>
                                <div style="width: 350px;">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Enter valid name">
                                    </div>
                                    <div class="form-group">
                                        <label for="phonenumber">Phone Number</label>
                                        <input type="number" class="form-control" id="phonenumber" placeholder="Enter phone number">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Quantity</label>
                                        <input type="text" class="form-control" id="name" placeholder="Enter valid name">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Aera</label>
                                        <input type="text" class="form-control" id="name" placeholder="Enter valid aera">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Land Mark</label>
                                        <input type="text" class="form-control" id="name" placeholder="Enter valid land mark">
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="name">Land Mark</label>
                                        <select class="form-select typeable-select2" id="floatingSelect" aria-label="Floating label select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">Guntur</option>
                                            <option value="2">vijawada</option>
                                            <option value="3">Ponnuru</option>
                                          </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block login-btn form-control">Submit Request</button>
                                </div>
                                
                                
                                
                            </form>
                            <div class="forgot-password">
                                <a href="/login/"><span class="sigin-text">All ready have an account :</span>Login</a>
                            </div>
                        </div>
                    </div>
                    <div id="white_labeling_row" style="display: none;">
                        <p>2 test</p>
                    </div>
                    <div id="packing_material_row" style="display: none;">
                        <p>3 test</p>
                    </div>
                </div>
            </div>
        </div>

        </div>
        
    </div>
</section>
{% endblock %}


{% block javascripts %}
    
{% endblock javascripts %}